<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>BAT0 TO BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDA=
					</data>
					<key>Replace</key>
					<data>
					hkJBVEM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT1 TO BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					hkJBVDE=
					</data>
					<key>Replace</key>
					<data>
					hkJBVEM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT2 To BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					Tm90aWZ5IChcX1NCLlBDSTAuTFBDQi5FQy5C
					QVQx
					</data>
					<key>Replace</key>
					<data>
					Tm90aWZ5IChcX1NCLlBDSTAuTFBDQi5FQy5C
					QVRD
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HPET._STA to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FBJfU1RBAA==
					</data>
					<key>Replace</key>
					<data>
					FBJYU1RBAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIX,3,N) to XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJWAM=
					</data>
					<key>Replace</key>
					<data>
					WEJJWAM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(AJTP,3,N) to XJTP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QUpUUAM=
					</data>
					<key>Replace</key>
					<data>
					WEpUUAM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_L17,0,N) to XL17</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wxNwA=
					</data>
					<key>Replace</key>
					<data>
					WEwxNwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(OWAK,1,N) to XWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					T1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WFdBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(_PRW) to ZPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					CF9QUlc=
					</data>
					<key>Replace</key>
					<data>
					CFpQUlc=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUw==
					</data>
					<key>Replace</key>
					<data>
					WlBUUw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSw==
					</data>
					<key>Replace</key>
					<data>
					WldBSw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename H_EC to EC (USB Power)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUMwXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename SAT0 to SATA (Disk)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					S0JEXw==
					</data>
					<key>Replace</key>
					<data>
					UFMySw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_LID to XLID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0xJRA==
					</data>
					<key>Replace</key>
					<data>
					WExJRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q13 to XQ13</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExMw==
					</data>
					<key>Replace</key>
					<data>
					WFExMw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q2B to XQ2B(TP-LID)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1EyQg==
					</data>
					<key>Replace</key>
					<data>
					WFEyQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q64 to XQ64</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NA==
					</data>
					<key>Replace</key>
					<data>
					WFE2NA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q66 to XQ66</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2Ng==
					</data>
					<key>Replace</key>
					<data>
					WFE2Ng==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q6A to XQ6A</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2QQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2QQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q60 to XQ60</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2MA==
					</data>
					<key>Replace</key>
					<data>
					WFE2MA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q61 to XQ61</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2MQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2MQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q62 to XQ62</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2Mg==
					</data>
					<key>Replace</key>
					<data>
					WFE2Mg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q16 to XQ16</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNg==
					</data>
					<key>Replace</key>
					<data>
					WFExNg==
					</data>
				</dict>
			</array>
		</dict>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device_type</key>
				<string>Multimedia controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				CwAAAA==
				</data>
				<key>model</key>
				<string>Realtek HD Audio ALC257</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AAAWWQ==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device-id</key>
				<data>
				FlkAAA==
				</data>
				<key>device_type</key>
				<string>Display controller</string>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP151.88Z.F000.B00.1909172039</string>
		<key>Board-ID</key>
		<string>Mac-937A206F2EE63C01</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02753270GUJP4F1H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.0.78.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SerialNumber</key>
		<string>C02W19ZSKGYG</string>
		<key>SmUUID</key>
		<string>42521899-9A61-46E1-921F-BD8BDF8B8994</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
