<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT0 TO BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hkJBVDA=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT1 TO BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>hkJBVDE=</data>
					<key>Replace</key>
					<data>hkJBVEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BAT2 To BATC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Tm90aWZ5IChcX1NCLlBDSTAuTFBDQi5FQy5CQVQx
					</data>
					<key>Replace</key>
					<data>Tm90aWZ5IChcX1NCLlBDSTAuTFBDQi5FQy5CQVRD
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNA==</data>
					<key>Replace</key>
					<data>WFExNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNQ==</data>
					<key>Replace</key>
					<data>WFExNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBIF to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBIX to XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJWAM=</data>
					<key>Replace</key>
					<data>WEJJWAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBST to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>AJTP to XJTP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QUpUUAM=</data>
					<key>Replace</key>
					<data>WEpUUAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_L17 to XL17</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0wxNwA=</data>
					<key>Replace</key>
					<data>WEwxNwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>OWAK to XWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>T1dBSwE=</data>
					<key>Replace</key>
					<data>WFdBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q13 to XQ13</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExMw==</data>
					<key>Replace</key>
					<data>WFExMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q2B to XQ2B</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1EyQg==</data>
					<key>Replace</key>
					<data>WFEyQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_LID to XLID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>BV9MSUQAoEkE</data>
					<key>Replace</key>
					<data>BVhMSUQAoEkE</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,N)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,S)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
			</array>
		</dict>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<integer>11</integer>
				<key>model</key>
				<string>Realtek HD Audio ALC257</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>AAPL,slot-name</key>
				<string>Internal</string>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>11/08/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP152.88Z.F000.B00.1911080134</string>
		<key>Board-ID</key>
		<string>Mac-827FB448E656EC26</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C029531044NJH4R8C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.60.55.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>NoRomInfo</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
		<key>SerialNumber</key>
		<string>C02ZXLY8JHCD</string>
		<key>SmUUID</key>
		<string>BF3DABD9-7D88-423B-87A1-EC62851F9DE1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
